[2016-03-11 18:28] matty0501 opened #4 "mysqli support for PHP7"
My WordPress installation is running with PHP 7 which uses mysqli instead of mysql. When using ludicrousdb I am getting 500 errors when trying to access my WordPress site.

[2016-03-14 15:29] spacedmonkey commented on #4
I was going to give a pull request for this one. I am in talks with @johnjamesjacoby regarding it. Watch this space.

[2016-03-14 15:36] spacedmonkey opened #5 "Is close method required"
The close method was added [here](https://github.com/johnjamesjacoby/ludicrousdb/commit/edbbb0adb48d58efdde63ec5f20988ef40c77299) . This brings ludicrousdb into line with [changes in core](https://core.trac.wordpress.org/ticket/34903). However, the close method is a copy and paste from what is in core in 4.5. Meaning it is overriding the close method with the same code. This is fine, but if the lo

[2016-05-02 16:59] #4 closed

[2016-05-02 17:47] johnjamesjacoby commented on #5
The `close()` method in LudicrousDB is now a bit different than what comes with WPDB, so I think it's okay to close this.

As with all of the overlapping methods, it's good to keep an eye on core to merge anything back in that needs it.

[2016-05-02 17:47] #5 closed

[2016-05-02 17:54] johnjamesjacoby opened #7 "Improve drop-in experience"
In WP Spider Cache, I went the route of including the actual drop-in files in a `drop-ins` directory.

This made it easier for developers of the plugin to separate out classes, functions, and configurations, and also made it a bit more obvious which files are WordPress drop-ins.

It also would allow for Ludicrous DB to live in its own directory, and for the drop-ins to be `require`d instead. I thi

[2016-05-13 17:41] johnjamesjacoby opened #9 "mysqli_num_fields being passed a boolean result"
I'm occasionally seeing this in my error logs:

[code]

[2016-05-13 17:43] johnjamesjacoby commented on #9
My hunch is that `_do_query()` is returning `false` because `dbh_type_check()` is failing.

[2016-05-13 18:22] johnjamesjacoby commented on #9
Addressed in 887524e89aab350af3d822587c36cc53a3c114ed.

There may be a more precise way to debug what kind of connection or query is causing this, but I think it's safe to assume we'd want to suppress this error and any subsequent issues up the stack regardless.

[2016-05-13 18:22] #9 closed

[2016-07-28 13:27] spacedmonkey commented on #7
I have been looking into this for installing the files using composer.

https://github.com/Koodimonni/Composer-Dropin-Installer

[2016-08-11 15:04] SeBsZ opened #11 "Object of class mysqli could not be converted to string on line 1033"
I immediately got a fatal error on line 1033:

`wp_die( $dbh . '  ' . $charset . '  ' . $collate );`

It's trying to convert $dbh into a string, which it can't because $dbh is an object of type mysqli.

I didn't have a collate set, so that's why this line is being executed, but I still thought I would let you know.

On a sidenote, why do I need to set a collation in wp-config? HyperDB or Wordpress

[2016-08-15 11:57] SeBsZ opened #13 "Ludicrousdb doesn't check and remove incompatible SQL modes when using mysqli"
On my local development server, some SQL_MODES are set globally such as NO_ZERO_DATE which is incompatible with MySQL, in fact that mode breaks the creation of new posts in Wordpress.

The default wp-db.php file checks for the currently set modes, strips the ones that are incompatible and then sets the new mode on line 861:
`mysqli_query( $this->dbh, "SET SESSION sql_mode='$modes_str'" );`

Ludicr

[2016-08-15 17:11] archon810 commented on #13
Traced it to this commit: https://github.com/stuttter/ludicrousdb/commit/956873e64e6aade9312880402a26532f1425e9d7.

[2016-08-25 09:12] spacedmonkey commented on #13
@SeBsZ I have a pull request out this now. Can you take a look?

[2016-08-25 09:14] spacedmonkey opened #15 "Notice errors"
Getting the following notice errors.

<b>Notice</b>:  Undefined variable: write in <b>/var/www/wp-content/dropins/ludicrousdb/db.php</b> on line <b>675</b><br />
<b>Notice</b>:  Undefined variable: write in <b>/var/www/wp-content/dropins/ludicrousdb/db.php</b> on line <b>703</b><br />

[2016-08-25 09:35] SeBsZ commented on #13
Looks good to me

[2016-08-25 10:31] romulodl opened #18 "Lack of tags/releases"
Could you please tag/release versions when a new change/feature come in?

Thanks :)

[2016-08-25 10:34] spacedmonkey commented on #18
Thanks for your feedback @romulodl . I am working on ludicrousdb today and I will see what I can do. There will be a number of changes coming in the next couple of days, keep on eye on this repo.

[2016-08-25 13:25] #13 closed

[2016-08-25 14:25] schrapel commented on #18
Can you at least put a tag on https://github.com/stuttter/ludicrousdb/commit/6f183ea82c220d21f93bec384d6faf9106ba4754

We currently have dev-master in our Composer

[2016-09-04 00:08] johnjamesjacoby commented on #11
Fixed in 471a8686e57033ebbda86e5d110136a442d3b9d4.

[2016-09-04 00:08] #11 closed

[2016-09-04 00:09] johnjamesjacoby commented on #15
Fixed in ef886f265a2a55eb2c1de527d6c72823f9aa2fb3.

[2016-09-04 00:09] #15 closed

[2016-09-04 00:27] johnjamesjacoby commented on #18
Tagged 2.1.0.

We'll be sure to tag going forward.

[2016-09-04 00:27] #18 closed

[2016-09-04 00:27] johnjamesjacoby commented on #7
I'm going to work on this tomorrow using a similar approach to what's in WP Spider Cache.

[2016-09-07 09:23] johnjamesjacoby commented on #7
Done.

Shouldn't break anything for existing installations, but because of the drop-in nature of LudicrousDB, and everyone being forced to roll-their-own configurations, it's plausible people have hacks in place to shim their own installs.

Anyone running into this, please create new issues for related problems. Thanks!

[2016-09-07 09:23] #7 closed

[2016-09-20 02:56] dereckmartin opened #19 "Question about implementation"
This works well for what I am trying to accomplish with it.  However, it would be optimal if this wasn't in the plugins directory.  I do not want clients I will be hosting to even see this in their list of plugins.  The best I can do with out altering the code is place read-only permissions, so it can't be deleted.

Is there a simple solution for this to be installed and used, that doesn't require

[2016-09-27 12:00] gonssal commented on #19
Place in `wp-content/mu-plugins`.

[2016-10-24 18:49] JJJ commented on #19
Bingo. Closing this, but please feel free to reply & continue a dialogue here for more help.

[2016-10-24 18:49] #19 closed

[2016-11-03 23:32] schrapel opened #20 "Code explanation"
This goes back all the way to HyperDB, so I know it wasn't you but are you able to explain these lines?

$this->dataset is never used and $dataset can never be empty :/

https://github.com/stuttter/ludicrousdb/blob/master/ludicrousdb/includes/class-ludicrousdb.php#L353-L361

[2016-11-07 19:35] JJJ commented on #20
Hey Toby. Good question.

This is part of the `db_connect()` method, and is taken both from HyperDB and WordPress's original `WPDB` class. The first part of this method tries to assess what dataset to use, depending on what's been passed through or defined in a callback somewhere else using `run_callbacks( 'dataset' )`.

You're correct that `$this->dataset` isn't used directly. All this bit of cod

[2017-01-06 09:44] kellemar opened #21 "Session expired popups when LudicrousDB is enabled.."
My editors are getting this whenever they work on the WP backend when the db.php is enabled in /wp-content/.

This problems stops when I disable db.php.

Any ideas on how to resolve this? I'm on PHP 7.0.13 and Wordpress 4.6.1

[2017-02-27 17:57] mallardduck commented on #21
I'm wondering if your sessions issue is unrelated to LudicrousDB? Are you using a single web-server connecting to a DB cluster, or do you also have a cluster of web-nodes being used?

If you are using multiple web-nodes how are you managing traffic for wp-admin; do users hit any server they get, or do you filter admin traffic to a specific server? If you are using a configuration with multiple web

[2017-02-28 08:26] kellemar commented on #21
Hi Dan,

Thanks for the reply.

This session issue doesn't pop up when I disable the Ludicrous DB plugin
though. Currently, I'm using a cluster connected to a single-DB.

On the other hand, the previous version of the plugin, HyperDB worked fine.
Just that with the advent PHP 7.0, that plugin doesn't work too well
anymore.

On Tue, Feb 28, 2017 at 1:57 AM, Dan <notifications@github.com> wrote:

--

[2017-03-05 17:58] thegronix opened #22 "Multisite blog tables in db-config"
Hello! There is in db-config.php:

`// Multisite blog tables are "{$base_prefix}{$blog_id}_*"
function my_db_callback( $query, $wpdb ) {
    if ( preg_match("/^{$wpdb->base_prefix}\d+_/i", $wpdb->table) ) {
        return 'blog';
    }
}`

So, this fragment for WPMU must look like this?

`function my_db_callback( $query, $wpdb ) {
    if ( preg_match("/^{$base_prefix}{$blog_id}_\d+_/i", $wpdb->tab

[2017-03-24 20:23] lgrrealag opened #23 "Slowing Site Down"
Been testing ludicrousdb after we were having some problems with hyperdb. Overall ludicrousdb has done better except there is one problem. The site is extremely slow and the PHP 7 slow log points to ludicrousdb.

Here is a sample of the PHP 7 slow log.

[24-Mar-2017 19:24:13]  [pool websrv] pid 25139
script_filename = /srv/users/websrv/apps/websrv/public/index.php
[0x00007f1874414450] mysqli_query

[2017-03-25 15:00] lgrrealag commented on #23
To give a little more information, we are testing ludicrousdb on two WordPress installs with two MySQL servers. Both WordPress installs have access to the same MySQL databases with a Master-Slave setup. Both web servers have the same software, nginx, apache, php7. Both MySQL servers are the same, except one is the master and one is the slave.

One WordPress install using ludicrousdb works perfectl

[2017-03-25 17:19] lgrrealag commented on #23
Ok for some reason I had to raise the slave read to 3 before this started to behave. Once I did that it started to behave. Previously reads were
Master = 1
Slave = 2
but it appears that the site kept defaulting to the slave instead of the Master. Once I raised the DB Slave read to 3 it started reading from the Master first. Very odd.

[2017-03-25 17:19] #23 closed

[2017-04-20 03:40] GeneralCan opened #24 "how can I set custom prefix and user tables?"
hey, might seem like a dumb question, but I'm trying to set a custom prefix on the tables because I need to run multiple wordpress install from the same database. usually this can be changed using

$table_prefix  = 'ie_';

but it does not seem to work with the plugin enabled, is there a specific place this needs to go fo rit to work? (I have it in the wp-config.php)

and also, will this plugin res

[2017-04-21 11:47] #24 closed

[2017-05-01 20:44] skynet opened #25 "Supporting pdo database driver"
Are thereany plans to support the pdo database driver?

[2017-05-02 23:18] mistakenCynic opened #26 "Partitioning"
Hi, is there any way you could help me devise a very basic configuration for partitioning? Basically, I have a Wordpress users table (k2bi_users) on one database (1757) and then I have all the other 70 or so Wordpress tables  (k2bi_xxx) on another database (1893). How can I set up the configuration so that it calls on the 1757 database for the users table and the other database for all the other t

[2017-05-07 15:54] spacedmonkey commented on #25
We have no plan to support pdo. But there are other database drop in that do support it. I quick google found this. https://en-gb.wordpress.org/plugins/sqlite-integration/ I have never used it, but might be worth a look.

[2017-05-07 15:54] #25 closed

[2017-05-07 16:00] spacedmonkey opened #27 "Tcp_cache functions"
The tcp cache functions set / get were converted to use wp_cache_ api. On the face of it, this is a good idea. However, database drop-ins are loaded before object-cache drop-in. This means that possibly have an a race condition where wp_cache_ is called before it exists.

[2017-05-16 22:55] JJJ commented on #21
I think @mallardduck is on the right track.

The first thing to do is identify where your sessions are being saved. It's pretty typical to store those in Memcache, but I can imagine them being stored in MySQL also.

Perhaps one of the nuanced changes between HyperDB and LudicrousDB caught you up, though I can't recall exactly what they are anymore (or if there are any.)

Knowing the storage mechan

[2017-05-17 03:42] #20 closed

[2017-05-17 03:48] JJJ commented on #27
If `advanced-cache.php` is in use, traditionally it will kick-start the object cache with a call to `wp_start_object_cache()`.

If that's not the case, `wp_start_object_cache()` is called almost immediately after `require_wp_db()` in `wp-settings.php`, so while the load order is tight, it's unlikely to cause any issues.

[2017-05-17 03:48] #27 closed

[2017-05-17 04:04] JJJ commented on #26
Without knowing *exactly* what your setup looks like, here's a back-of-the-napkin guess with some very conservative settings that you'll likely need to tune once everything is confirmed to be connecting.

* This does not include any master/slave setups.
* I assume multisite, and that signups and registration log tables coexist with users, though that may not be the case for your installation type.

[2017-05-17 04:09] JJJ commented on #22
The callback, and the regular expression inside of it, is mostly up to you and your approach to naming your database tables. The example you've included is a pretty vanilla guide for a largely unchanged WordPress installation.

It's basically telling LudicrousDB that anytime a database table matches a base prefix & blog ID, make sure it targets the `blog` server for them.

[2017-05-17 04:09] #22 closed

[2017-05-26 12:41] SpoddyCoder opened #32 "Post editor empty when charset set to utf8mb4"
Hi,

pretty sure this is not a ludicrousdb issue per se - but I'm hoping for a bit of guidance/input.

We're working on a multisite install that pre-dates the WP utf8mb4 upgrade (tho is running latest version) - WP core didn't process the upgrade on our db because it's version is so old - original install dates back to 2012!. Now trying to switch from hyperdb to ludicrousdb to add utf8mb4 support

[2017-05-26 14:52] SpoddyCoder commented on #32
Issue turned out to be the php-mysql client version was too low to support utf8mb4 (5.1.73) as detailed in the WP post about the upgrade here (5.5.3+ required)...

https://make.wordpress.org/core/2015/04/02/the-utf8mb4-upgrade/

This post also has a note that php native driver client requirements are a lot lower (5.0.9+) and luckily our old servers have a late enough version of this in the standar

[2017-05-26 14:52] #32 closed

[2017-06-05 13:57] davidrhoderick opened #33 "Not reading from Slave"
So I have set up DB replication between a remote master server and a local slave server in the hopes that the site will be faster to load and mess around with locally.  I have verified that the connection is working.  However, when using LudicrousDB, the pages take 8-10 seconds "waiting for localhost" every time I navigate to a page, which is really unworkable.

My db-config.php looks like this:

[2017-06-06 12:23] davidrhoderick commented on #33
My bad; the zip file downloaded from GitHub had "-master" in the name, which persisted after extraction.  That caused the plugin to not be loaded by db.php.

[2017-06-06 12:23] #33 closed

[2017-06-12 15:37] GeneralCan opened #34 "PHP7 support"
Is php7 support something you're looking into for a future build?

[2017-06-12 15:39] spacedmonkey commented on #34
This is actively maintained project. As I understand it works in PHP 7.0. Are you moving issues this it the plugin in PHP 7.0?

[2017-06-12 19:20] GeneralCan commented on #34
was getting some _mysql errors. but it was my fault. sorry about that.

[2017-06-16 17:16] stephenlane opened #35 "installation"
hi guys,

getting a little confused with installation. Is this to be installed like a regular plugin or does it replace wp-config.php file?

Cheers,

Stephen

[2017-06-17 08:28] spacedmonkey commented on #35
Install as a normal plugin. Copy the db.php in the wp-content directory.
That should be it

Jonny Harris
http://www.jonathandavidharris.co.uk

On 16 Jun 2017, at 19:17, Stephen Lane <notifications@github.com> wrote:

hi guys,

getting a little confused with installation. Is this to be installed like a
regular plugin or does it replace wp-config.php file?

Cheers,

Stephen

—
You are receiving this

[2017-06-19 06:58] stephenlane commented on #35
@spacedmonkey  thanks for the help. I have installed  with the intention of using master slave setup but not sure if its working. Is there a way to test? do i need to remove the db connection in wp-config.php

[2017-06-20 07:45] stephenlane opened #36 "how to know if it is working"
Hi there,

I have attempted to implement master slave and have no idea if it is working. Any help would be much appreciated.

Regards,

Stephen

[2017-06-20 10:03] takotakot commented on #36
ref: #35
For example, please try to change the password for master server. That will be the test for connecting to slave server.
There are many other ways to test.

[2017-06-20 16:03] JJJ commented on #36
I've considered building in some kind of UI, or support for the Query Monitor plugin from @johnbillion. Maybe we can do some fancy collaboration work to help you with this eventually.

[2017-06-20 16:06] stephenlane commented on #36
so my issue is I have set up my master slave on aws and have added the following config in the db-config.php file but dont I am not getting any activity on my read database

[code]

[2017-06-20 17:00] takotakot commented on #36
@stephenlane Can you set `'write'    => 0` for master server for testing? I think it's important for problem isolation.

[2017-06-20 18:35] JJJ commented on #36
It could be that `$use_master` is kicking in. The `dbhname` will have `__r` in it for read, `__w` for write. This happens in the `db_connect()` method.

It could a custom callback routing it via `$wpdb->add_callback()`, or database tables that were added to the master database definition, but not the slave.

Are your comfortable posting your complete config somewhere (omitting the obvious for secu

[2017-06-20 18:37] JJJ commented on #34
Phew.

It's paramount that LDB work with all modern PHP versions (at least 7.0 and 7.1 as of today.)

[2017-06-20 18:37] #34 closed

[2017-06-20 19:19] spacedmonkey commented on #34
For what is worth, I am using LDB in production using PHP 7.0. Works a treat

[2017-06-21 07:20] stephenlane commented on #36
@takotakot  I have set write to 0 and read to 0 and the default db connection in wp-config is the run that runs

[2017-06-21 07:23] stephenlane commented on #36
@JJJ what I have done is placed db-config in the same location as wp-config. Then in the wp-content directory I have added the db.php file and then installed the plugin like any other plugin.

My full dp-config file is as follows:
`

<?php

/**
 * LudicrousDB configuration file
 *
 * This file should be copied to ABSPATH/db-config.php and modified to suit your
 * database environment. This file co

[2017-06-21 13:37] takotakot commented on #36
@stephenlane

I think db-config.php is not load or ludicrousdb is not working correctly.
As far as I know, DB setting in wp-config.php can be removed if we configured ludicrousdb correctly. So,

* Try to comment out DB setting in wp-config.php (db-config.php is really used?)
* Write `exit('error');` at the top of db-config.php (db-config.php is load?)

may help you.

If some error is introduced, i

[2017-06-23 07:48] stephenlane commented on #36
I have tried the above and no luck :(

[2017-06-23 08:07] stephenlane commented on #36
in log file getting this error.

`PHP message: PHP Warning:  mysqli_real_connect(): (HY000/2002): php_network_getaddresses: getaddrinfo failed: Name or service not known in /var/www/html/mall/wp-includes/wp-db.php on line 1538" while reading response header from upstream, client: *****, server: _, request: "POST /mall/wp-admin/admin-ajax.php HTTP/1.1", upstream: "fastcgi://unix:/run/php/php7.0-fpm

[2017-06-23 08:27] takotakot commented on #36
@stephenlane What do you mean by "no luck"? Set up ludicrousdb again!

[2017-06-23 08:29] stephenlane commented on #36
@takotakot  i have completely remove ludicrous db and started again and still  not working. When I remove the db config from wp-config then I get the error above.

[2017-06-23 08:32] spacedmonkey commented on #36
You get this error when the code can't connect to the database. Can you
check using the MySQL client that the host/user/password work. Do this on
the box itself. When I got this error it was related to security groups in
aws. Hope that helps.

Jonny Harris
http://www.jonathandavidharris.co.uk

On 23 Jun 2017, at 09:07, Stephen Lane <notifications@github.com> wrote:

in log file getting this error.

[2017-06-23 08:38] stephenlane commented on #36
@spacedmonkey I have trebled check it, credentials are correct. They match exactly what is in wp-config file.

When i comment out db connection in wp-config these are all the errors I get

`2017/06/23 08:34:21 [error] 9752#9752: *2 FastCGI sent in stderr: "PHP message: PHP Notice:  Use of undefined constant DB_USER - assumed 'DB_USER' in /var/www/html/mall/wp-includes/load.php on line 404
PHP mess

[2017-06-23 08:39] takotakot commented on #36
@stephenlane

If you get the error soon after you removed the config from wp-config, I think that ludicrousdb is misconfigured. I can only assume you to read https://github.com/stuttter/ludicrousdb again.
I'm sorry if I were wrong.

[2017-06-23 08:42] takotakot commented on #36
@stephenlane Set DB_USER and DB_PASSWORD as `""` in wp-config.php.

[2017-06-23 08:45] spacedmonkey commented on #36
Can you get WordPress to connect  normally. As in just define user, password and host normally? If Wordpress can't connect normally, then it is your database settings that are wrong

[2017-06-23 08:46] stephenlane commented on #36
@spacedmonkey  wordpress connection works perfectly, its just using the plugin is the issue

[2017-06-23 08:58] stephenlane commented on #36
@spacedmonkey @takotakot  figure it out. I had the plugin folder name ludicrousdb-master renamed it and now working

[2017-06-23 11:00] stephenlane commented on #36
thanks for all yere help

[2017-06-23 11:00] #36 closed

[2017-06-23 11:00] #35 closed

[2017-06-23 11:36] JJJ commented on #36
@stephenlane Glad you got it sorted. It’s not ideal to have hard-coded paths in there, but there’s not really a way to know for sure where it would be, at least how it’s coded today.

I’ll think about it more.

[2017-06-23 11:39] stephenlane commented on #36
just add to the readme to change the folder name when you download :)

[2017-07-07 01:34] tonyp-classiccars opened #39 "WordPress 4.8 compatibility?"
Any word on compatibility with WP 4.8?

Thanks!

[2017-07-07 07:48] spacedmonkey commented on #39
I am currently running it in 4.8 across the board at scale. Maybe we need to change the docs. Have you seen any compabilities issues?

[2017-07-07 22:15] tonyp-classiccars commented on #39
Thanks for the response. I haven't testedd it yet because of the compatibility statement in the docs. Glad to hear it runs great on 4.8 at scale. I plan on testing it soon.

[2017-07-18 09:06] krodyrobi opened #40 "Ludicrous' determine_charset shortcircuit because of undefined $dbh."
The standard `wpdb->determine_charset` method passes over the first if and proceeds to set charset / collation to `utf8mb4 / utf8mb4_unicode_520_ci` for an input of `utf8 / ''`.

This is happening because the default wpdb constructor sets a connection at the end while ludicrous does it after the ini_charset was called (last line in its constructor) somewhere in the query method.

Normally this is

[2017-07-27 12:45] stephenlane opened #41 "work with maria db"
hi there,

does this work nicely with maria db?

thanks

[2017-07-27 12:54] spacedmonkey commented on #41
On local I use docker and a mariadb container. Works a perfectly.

[2017-07-27 12:54] #41 closed

[2017-07-27 12:55] stephenlane commented on #41
hmm, strange. I added this earlier to my installation. All was working nicely, until my connection count on both my read and write database went to 80+ concurrent connections. Removed plugin and dropped down to 9 only.

This is a dev environment and only 3 users on site

[2017-08-11 08:47] #39 closed

[2017-09-11 21:34] blur33 opened #43 "How to be sure that ludicrousdb is even working?"
I've set the parameters, and I'm not seeing any changes on my server logs. I even set intentionally broken perameters and nothing changes.

Edit: I noticed that the files are looking for the  "ludicrousdb" folder but it doesn't say to switch the master folder to "ludicrousdb" and there aren't any error codes for it either.

It's working after switching that.

[2017-09-15 14:50] JJJ commented on #43
Thanks for pointing this out. Someone else had a similar issue, and we've updated the readme as a result. Sorry for the confusion!

[2017-09-15 14:50] #43 closed

[2017-09-15 15:07] JJJ commented on #40
This appears to be a relic from the HyperDB fork. See: https://github.com/Automattic/hyperdb/blob/master/db.php#L185

At a cursory, I'm unsure if we can trust `db_connect()` to handle this now, or if we should consider it a requirement to set precise charset & collations (which is what I've always done myself.)

What happens if you remove the `init_charset()` call from the constructor entirely?

[2017-09-15 15:09] JJJ commented on #21
Hey @all. Going to mark this as closed to clean up the issues. Please let me know if I can help with anything else related to this.

[2017-09-15 15:09] #21 closed

[2017-09-15 15:10] JJJ commented on #26
@mistakenCynic Any luck? I'm going to close this to clean the issues up, but I'll still reply here if need be. 🎩

[2017-09-15 15:10] #26 closed

[2017-09-15 18:22] krodyrobi commented on #40
It would make sense to only add the charsets after the connection is estableshed with set_charset. But if I remove the ini_charset then it doesn't read from the constants anymore and thus probably the instance variable will be null? (I guess it can be altered after instantiation though so no harm in that)

Also can't see where $charset is set in here https://github.com/stuttter/ludicrousdb/blob/ma

[2017-09-26 19:54] GeneralCan commented on #26
aaawwwww man! this is awesome, it's exactly what I was looking for.
@JJJ you had mentioned that what you wrote up-top was assuming a multi-site setup, (correct me if I'm wrong) I could also apply this to a setup with multiple sites on one database server (separate schemas) that share one user-base from an external database. thanks!

[2017-09-27 09:54] JJJ commented on #26
@GeneralCan Similar, yes.

You'll want to set these constants in your various `wp-config.php` files first:

https://codex.wordpress.org/Editing_wp-config.php#Custom_User_and_Usermeta_Tables

Without those set, each installation will want to use it's own database tables, with their own prefixes.

Then you'll need to modify the callback with the proper regular expression to match & route your querie

[2017-10-17 13:37] michaelrimbach opened #44 "Read Replica just for API Requests"
Is it possible to load the read replica settings just for WP JSON / WooCommerce API requests? My plan is that all read requests from API calls go to the read replica, everything else should go to the master db.

I thought it should work like this:

if( ! empty( DATABASE_HOST_RR ) && ( ( defined( 'REST_REQUEST' ) && REST_REQUEST ) || ( defined( 'WC_API_REQUEST' ) && WC_API_REQUEST ) || isset( $_GET

[2017-10-20 05:26] lenineto opened #45 "Login related problem - no errors on log"
Hi guys,

I use ludicrousdb in several sites and never had an issue. All of a sudden I'm getting a strange behavior in a bunch of WP sites. I can't login.  I got to wp-admin, type the correct user/pass and the get redirected to the login page.

Since there is nothing on error logs (I even enabled debug on some sites), I started testing and I figured out the problem is with the slave servers on db-

[2017-10-31 18:05] archon810 opened #46 "Is this plugin protected against SQL injection which 4.8.3 fixed?"
https://blog.ircmaxell.com/2017/10/disclosure-wordpress-wpdb-sql-injection-technical.html instructs us to update both WP and ludicrousdb, but I don't see any recent updates.

[2017-10-31 22:51] spacedmonkey commented on #46
This issue effect the prepare method found in core. This drop-in extends wpdb class and doesn't override the prepare method. To protect yourself again this issue, simple upgrade to WP 4.8.3. There is no fault found in ludicrousdb

[2017-11-01 08:16] #46 closed

[2017-11-05 00:00] JJJ commented on #46
See a0416caeae84edbd2110ed107267c110092b3bfa.

Both HyperDB and LudicrousDB override the `_real_escape()` method, which does benefit from a fix found in the latest versions of WordPress.

LudicrousDB 4.1.0 is tagged to include this fix. Hat tip to @pento for the nudge.

[2017-11-05 00:11] JJJ commented on #44
Hey @michaelrimbach. Good question, and one that I'm sure others will have eventually, once they've reached a scale in their store where this is a benefit to them.

Totally not testing this myself, but I'd do something like:

* Always define your API-only read-only database server, maybe with a specific `dataset` value like `wcapi`
* Use `$wpdb->add_callback( 'wc_api_callback' );` to make yourself

[2017-11-08 18:03] GeneralCan commented on #26
hey @JJJ question for you.
I'm having an issue where the plugin tables are not showing up inside the $wpdb-tables array.
I can see them inside $wpdb->ludicrous_tables though.

this is what I have inside db-config.php:

`
global $prefix;
global $database;
global $wpdb;

// Users
ldb_add_db_server( 'users', '', '', 1, 1, 'DatabaseConnectionAddress', '', 'wn_userdata', 'Username', 'password'  );

//

[2017-11-14 18:29] JJJ commented on #26
Maybe a typo in your regular expression?

`"/^$prefix.*/"`

Should maybe be...

`"/^$prefix*/"`

This assumes that `$prefix` doesn't include a period as a prefix delineator.

[2018-01-03 18:08] xianx opened #48 "I cannnot figure out how to put the code of Network topology / Datacenter awareness"
Hello,

I am trying to figure out how can I put code of Network topology / Datacenter awareness.

Will you please provide me a code example code of Network topology / Datacenter awareness?

[2018-01-04 03:11] ahmed-sigmalux opened #49 "Incompatible with Google Cloud SQL proxy socket connections"
Google recommends using Google Cloud SQL proxy, which creates a local UNIX socket, to connect to its managed SQL service. These sockets are generated in the format:

`project:region:instance`

So you end up with a local file like:

`/run/cloud_sql_proxy/my-project:us-central1:my-instance`

Using this local file in db-config.php like:

`'host' => 'localhost:/run/cloud_sql_proxy/my-project:us-centra

[2018-01-04 03:14] ahmed-sigmalux opened #50 "Composer package stuttter/ludicrousdb installs mu-plugin in subdirectory"
Composer (via Packagist) installs ludicrousdb in

`wp-content/mu-plugins/ludicrousdb`

WordPress, however, doesn't load must use plugins that are in subdirectories.

Is it possible to update the composer package so it installs ludicrousdb directly in wp-content/mu-plugins instead?

[2018-01-04 12:58] spacedmonkey commented on #48
Hi @xianx . I am not sure what you are asking for here. Can you give me more detail.
This drop-in is just a tool to enable you to build your own rules on how you contact databases.

[2018-01-06 01:28] #50 closed

[2018-01-06 11:46] xianx commented on #48
In db-config.php there is an example of Network topology / Datacenter awareness see the screenshot http://prntscr.com/hwskkp

But no explanation how to use it in code with add_db_server function http://prntscr.com/hwsmnw

Please help.

[2018-01-12 00:43] tylerdigital opened #51 "Potential issues with inserting and immediately fetching?"
I've not encountered this yet, but am curious if this will be an issue. Some places in our PHP code, plugins `INSERT` a new WP post or row to custom table, receive its ID, and then immediately do a `SELECT` on the next line where it builds an object/array.

My question is: if we have a slave configured in ludicrousdb, the insert will go to the master/writer, but will ludicrousdb realize it needs t

[2018-01-19 22:26] stevenmunro opened #52 "Failover?"
I might be completely missing something here. If I take the DB server specified in wp-config.php offline, I get the dreaded 'Error establishing a database connection' message. I thought that one of the other servers defined in db-config.php would kick in?

[2018-01-19 22:43] stevenmunro commented on #52
I just had a look at https://github.com/stuttter/ludicrousdb/issues/36 and it appears that perhaps mine isn't loading either. I'll do some more troubleshooting.

[2018-01-19 22:49] stevenmunro commented on #52
It wasn't working because line 20 was being executed (return;) in ludicrousdb.php
// Bail if database object is already set

I have no idea why $GLOBALS['wpdb'] would already be set. I had previously experimented with hyperDB and that worked..

[2018-01-20 21:05] archon810 opened #53 "Does 'timeout' actually work when host is down?"
Hi,

We've used ludicrousdb for years, with 'timeout'  => 0.2 for master and slaves, but whenever the master db goes down and times out (as in, host is down rather than host up and mysql down, which would refuse the connection instantly), the site pretty much goes down because all write and read connections get stuck waiting for the server to come back up rather fail within 0.2s.

Any idea what we

[2018-01-21 22:33] stevenmunro commented on #52
It works for me if I place the ludicrousdb files in the plugins folder. I was having issues when these were placed under mu-plugins.

[2018-01-21 22:48] stevenmunro opened #54 "WordPress database error Unknown column 'Tables_in_' .."
I have a database server specified in wp-config.php, and I've added that in db-config.php along with another master replica.

If I disable ludicrousdb, this particular plugin (WP Statistics) works normally. If I enable ludicrousdb the plugin complains that certain DB table don't exist (they clearly do).

This is the error being generated in wp_debug.log

I'm not sure why?

[2018-01-21 23:56] stevenmunro commented on #54
This is happening because inside the statistics plugin, $wpdb->dbname returns NULL.

[2018-01-25 22:35] archon810 commented on #53
Are timeouts treated differently for reads and writes? I only ever notice these issues when the master db goes down. Slaves can go down and things seem to continue just fine, so I'm wondering if writes disregard the timeout value because they're more important to succeed @JJJ @spacedmonkey?

[2018-01-27 21:34] archon810 commented on #53
Master db went down again (network keeps failing for some reason on Linode recently every few days), and immediately everything grinds to a halt because timeouts are not properly used.

![image](https://user-images.githubusercontent.com/469543/35476548-af8b04ae-0366-11e8-981a-3f1d5b09e602.png)

[2018-01-29 22:34] JJJ commented on #53
Hey @archon810. Sorry; that's really annoying.

There are caveats to how timeouts are handled, but I'll need to look back into the code to refresh my memory of what they are and why they're there.

[2018-01-31 19:26] archon810 opened #55 "SELECT ... FOR UPDATE runs on slaves resulting in: WordPress database error The MySQL server is running with the --read-only option so it cannot execute this statement for query"
Hi @JJJ @spacedmonkey,

It looks like ludicrousdb isn't routing SELECT ... FOR UPDATE to the master db, because if it runs on a slave (which is set to readonly on purpose), the query fails as follows:

`[31-Jan-2018 13:32:15 UTC] WordPress database error The MySQL server is running with the --read-only option so it cannot execute this statement for query
                SELECT * FROM BLA

[2018-03-28 19:44] magikweb opened #56 "WPMU | one database per site"
So far, this plugin is amazing!

What would be the optimal way to have a database for each site when using WordPress Multisite?

We tried the following, but it seems like `$wpdb` is NULL until later.

[code]
We wanna apply a dynamic rule that assumes `DB_NAME.'_'.$wpdb->$blog_id` always exists. That way, all we gotta do is create the database before creating the site every time.

Thank you for any

[2018-03-30 13:26] magikweb commented on #56
We don't think it's an optimal solution at all, but we will use the following setup temporarily.

[code]

It doesn't seem to make things slower, but there's a lot of useless processing.

Thank you for any idea on that subject! :smiley_cat:

[2018-04-13 09:45] SeBsZ opened #57 "Major bug in LudicrousDB server connection retry logic?"
In class-ludicrousdb.php in function check_connection() lines 1115-1132 there is code to retry making a database connection several times. On line 1123 there is the code that actually retries making a connection:

[code]

However, looking at the first few lines of the function db_connect, it is clear that this thing is always going to return false and a connection will never be retried:

[code]

T

[2018-04-13 17:50] archon810 commented on #53
@JJJ Have you had a chance to take a look at this?

[2018-04-13 17:51] archon810 commented on #57
@JJJ I know you're not very active in this project these days, but if you could find some time to take a look at the recent issues, and this one especially, it'd be amazing.

[2018-05-18 21:50] sirshurf opened #58 "Query overide apply_filters_ref_array cannot work"
We have this great query override:

apply_filters_ref_array

BUT, the code is set to return the data from the override:

			$return_val = apply_filters_ref_array( 'pre_query', array( null, $query, &$this ) );
			if ( null !== $return_val ) {
				return $return_val;
			}

BUT if we will look at wp-db->query()
		if ( $query ) {
			$this->query( $query );
		} else {
			return null;
		}

The data from

[2018-05-19 17:38] wyatt121 opened #59 "Will this plugin allow me to run a db with 500 million WooCommerce product variants?"
Hi,

I am setting up a very large E-commerce store with 100s of millions of different product variations.  Can I use this plugin to divide the wp_postmeta table across multiple servers?

Any help is much appreciated.

Wyatt

[2018-05-24 22:12] digitalle commented on #52
@stevenmunro - Hi Steve, apologies for hijacking the thread, but did you manage to get this working with a "failover" type scenario? And if so, how on earth did you manage it?? I have a multisite set up, with a master and slave MySQL both working as they should in a private network, but when I added this to the plugins directory and activated, I was expecting to be able to "reset" my master db and

[2018-05-30 11:18] jaydip189 opened #60 "Replication is not properly working."
Hello,

Please find below configuration snnipet of db.php file.how to check write query goes to rds maria master database and read query goes to rds read replica.

$wpdb->add_database(array(
'host' => 'masterdatabase', // If port is other than 3306, use host:port.
'user' => 'xxxxx',
'password' => 'xxxxxx',
'name' => 'xxxxxx',
'write' => 1, // master server takes write queries
'read' => 0, // ... a

[2018-07-25 13:25] cgrymala opened #61 "Forcing me to login over & over again"
I'm having a similar issue to #45 .

When I have a slave/master configuration set up using LudicrousDB, I have to login over & over again. It's almost like it's requiring me to re-authenticate every time it switches to a different database. Sometimes it will simply redirect me to the login page again after I successfully login; sometimes it actually logs me in, but then after I move to another pag

[2018-08-16 14:46] jpSimkins commented on #51
I have an importer that handles bulk processing. I can say that the Writer does return the ID to be used by the reader. The only issues I have experienced are due to replica latency which is easily resolved by adding a `sleep`/`usleep` for these cases. I typically only use the sleepers if the Reader DB constant (I use `DB_READ_HOST`) is defined.

[2018-10-02 20:44] kingkool68 opened #62 "Fatal Error: Call to a member function get() on null in object-cache.php"
Installed LudicriousDB via Composer in the `mu-plugins` directory, moved the drop-in files into place, and setup my configuration. When I go to look at my test site I see a PHP Fatal Error:

[code]

We're using the latest version of [WP Redis](https://wordpress.org/plugins/wp-redis/) for our object caching.

It looks like the global `$wp_object_cache` isn't set, aka its `null` when LudicrousDB tri

[2018-11-08 10:20] kkmuffme commented on #48
The suggested way to handle this is to use db-config & set the servers like:
$wpdb->add_database(array(
	'host' => '127.0.0.1',
	'user' => 'some user',
	'password' => 'somepw',
	'name' => 'db_',
	'write' => 1,
	'read' => 5,
	'dataset' => 'global',
	'timeout' => 0.5,
));

And the setting the read/write accordingly for each datacenter. Thus you can steer traffic within or among multiple datacenters.

[2018-11-08 10:38] kkmuffme commented on #57
Actually since check_connection is only called once (as part of function db_connect):

`if ( ! $this->check_connection( false, $this->dbhs[ $dbhname ] ) ) {`

and having false parameter here, the code you mention can never be reached, since line 1103-1105 directly above the code you mentioned will always return false then:

[code]

So all code after it can be removed basically, unless someone has

[2018-11-08 13:22] kkmuffme commented on #62
Tested with other cache plugins, works perfectly fine. Issue seems to be with WP Redis plugin

[2018-11-09 08:55] kkmuffme opened #63 "mysqli_ping waste of time"
ludicrousdb runs check_connection for each & every query, triggering a mysqli_ping. This is a complete waste of resources & slows down things unnecessarily.

Suggestion to change:
Scenario 1: default - fastest
run the connection check once and if connection is up, wp_cache_set the $dbh->thread_id in check_connection as a temporary/non-permanent group, so we will not mysqli_ping within this page lo

[2018-11-13 14:03] SeBsZ commented on #57
@kkmuffme you realize you are repeating exactly what I said? The line numbers have changed a little, but we're both saying the same thing. The retrying of establishing a database connection in LudicrousDB is broken because db_connect is passed false in check_connection. This makes the whole db_connect function bail immediately. This bug needs attention, as it is major in my opinion.

And yes, we d

[2018-11-14 10:07] kkmuffme commented on #57
Yes exactly, I just wanted to point attention to this issue once more bc I also think its a major bug.

"check_connection manually" - waste of time in my opinion.
MySQL will not terminate a connection within reasonable time (actually multiple hours unless set different in my.cnf), so usually by that time your php has timed out long ago already (and if you do really have scripts that run that long,

[2018-11-14 15:00] JJJ commented on #57
For context, IIRC, the reason this gets missed is because it’s one of the few remaining usages of `explode()` that didn’t get cleaned up.

I am totally in favor of fixing this, preferably in a way that also cleans up the `explode()` but that’s secondary.

[2018-11-14 15:07] JJJ commented on #63
Good catch.

What if we bottled your 3 logic scenarios up into a private method to determine the best approach?

It would be a nice touch if we intelligently checked for a cached value, detected a master-master setup, then fell-back to what’s here now.

It’s fine to introduce caching to this IMO. We should be able to add our own group to the non-persistent array (I believe we do that already.)

We

[2018-11-14 19:46] kkmuffme commented on #63
I just double checked based on your suggestion, and you are correct, most object caches have a add_non_persistent_groups( $groups ) function, where we could add our own non-persistent group.

not even sure we really need all 3 scenarios - afaik the first/1) should suffice as this is how it works in default WP too, so not really sure if we should extend these high maintenance but low use cases.

Do

[2018-11-14 19:51] kkmuffme commented on #52
hey digitalle,

the reason you get this error is that WP is writing something to db on (almost) all requests, but since your master (for writes) is down, you get this error.
(I assume you have activated the plugin, placed db.php in your wp-content folder & set up db-config.php correctly of course)

hyperdb/ludicrousdb mostly is for splitting reads among multiple slaves or failover of read slaves.

[2018-11-14 21:58] spacedmonkey commented on #57
Thanks @SeBsZ @kkmuffme for your feedback on this. I am Jonny, the other maintainer of this plugin.

To give you some context on this, I added the `check_connection` method. This is a port of the same method found in core. The reason it was ported, was to make sure compatibility. The code to retry content is never meant to be called.

I do understand it is a little confusing, but it feels like thi

[2018-11-14 22:12] spacedmonkey commented on #58
Thanks for your feedback @sirshurf

The filter is functionality correctly. Not every path of the code sets `$this->last_result` as well. Take for example [this](https://github.com/stuttter/ludicrousdb/blob/master/ludicrousdb/includes/class-ludicrousdb.php#L1321-L1341), there are two if statements that don't set it. For example an update or insert query wouldn't get results. Lucky enough, I already

[2018-11-14 22:12] #58 closed

[2018-11-14 23:16] spacedmonkey commented on #62
This seems to be an issue with WP Redis. So I am going to close this ticket out

[2018-11-14 23:18] spacedmonkey commented on #59
This plugin is a tool to end you build your own logic to scale wordpress databases. So the answer really is up to you.

Personally, I think that a project database that big, you are better looking into a different database solution, like elastic search.

[2018-11-14 23:18] #59 closed

[2018-11-15 01:12] spacedmonkey commented on #63
Hi all. I worked on a solution for this issue, as I agree, checking every call is a little wasteful.
@kkmuffme can you take a look at https://github.com/stuttter/ludicrousdb/pull/66 and see what you think.

[2018-11-15 13:43] kkmuffme commented on #57
@spacedmonkey good idea, just one thing I am not sure about: mysqli_ping before depended on the result of get_db_object (so basically the thread id of mysql connection which is used for a specific table) but now you are checking a db server that might not even get called bc things are overwritten in get_db_object ?

Also I don't understand the 0.1 - bc if it goes away, we will get the error anyway

[2018-12-06 10:34] diditho commented on #55
I have the same issue, my slave is receivibf update query

[2018-12-12 15:01] partounian commented on #62
Anyone happen to have a solution or better redis plugin alternative?

[2018-12-12 15:13] partounian commented on #62
Fixed by updated wp_cache_init to

[code]

[2018-12-28 13:52] spacedmonkey commented on #62
Reopenning as I believe I have a solution. In https://github.com/stuttter/ludicrousdb/pull/67 I check if object cache is enabled before writing to it. This fixes other race conditions

[2019-01-04 21:42] spacedmonkey commented on #57
Fixed in https://github.com/stuttter/ludicrousdb/pull/64 and part of 4.2 release.

[2019-01-04 21:42] #57 closed

[2019-01-04 21:44] spacedmonkey commented on #62
For those interested, this should be fixed in 4.2. Let me know if you have this issue again.

[2019-01-04 21:44] #62 closed

[2019-01-04 22:13] archon810 commented on #55
@spacedmonkey Any chance you could look at this next? Thanks.

[2019-01-04 22:20] spacedmonkey commented on #55
Having a very very quick look into this, I think the issue is this line - https://github.com/stuttter/ludicrousdb/blob/master/ludicrousdb/includes/class-ludicrousdb.php#L1364 . It is looking for UPDATE in the query but not checking for "FOR UPDATE". This syntax was new to me and new to mysql, so this edge case was never consided. I will try and get some time on this in the coming weeks.

[2019-01-04 22:45] archon810 commented on #55
cc @sebsz

[2019-01-07 02:38] takotakot commented on #55
@spacedmonkey I think read/write is determined in the function `is_write_query( $q )`:
https://github.com/stuttter/ludicrousdb/blob/d5d27fc4e19ccfeecac627130e1ec68a800ca381/ludicrousdb/includes/class-ludicrousdb.php#L348-L353
noted:

@archon810 `if(preg_match( '/^(?:UPDATE)\s/i', $q )) return true;` may work (not tested).

[2019-01-07 03:21] takotakot commented on #55
@archon810 Could you please check with https://github.com/takotakot/ludicrousdb/tree/refine_is_write_query ?

[2019-01-07 19:38] archon810 commented on #53
@spacedmonkey It would be so killer if you could also get this because of the effect it has on production when a db host goes down. Thank you!!

[2019-01-07 19:38] archon810 commented on #53
cc @sebsz

[2019-01-07 23:41] takotakot commented on #49
Does this problem happen WITHOUT this plugin?

[2019-02-04 14:52] quangbahoa opened #71 "Need help with Partitioning config"
Hi there,

I'm try to setup db partitioning for multisite with 15 child sites. Currently I'm config as `Sample Configuration 2: Partitioning` and it work. All child site tables are stored on `blogdb`. Now I want config 5 child sites on a db. Eg,
 - Site id 2-5 stored on db name call `child_db_2_5`
 - Site id 6-10 stored on db name call `child_db_6_10`
 - Site id 11-15 stored on db name call `child

[2019-04-08 15:54] gartonb opened #72 "PHP 7.3 Support"
We recently upgraded to PHP 7.3 and receive this error

Deprecated: stripos(): Non-string needles will be interpreted as strings in the future. Use an explicit chr() call to preserve the current behavior in /ludicrousdb/includes/class-ludicrousdb.php

Do you support the latest version or have any advice on this error?

[2019-04-08 22:43] takotakot commented on #72
@gartonb Could you show the dump of `$this->srtm` and `$query_match` at https://github.com/stuttter/ludicrousdb/blob/master/ludicrousdb/includes/class-ludicrousdb.php#L476 ?

[2019-04-11 20:10] gartonb commented on #72
'smackuci_events'ArraySHOW TABLES LIKE 'smackuci_events'ArraySHOW TABLES LIKE 'smackuci_events'ArrayDESCRIBE `smackuci_events`ArrayDESCRIBE `smackuci_events`ArrayDESCRIBE `smackuci_events`ArrayDESCRIBE `smackuci_events`ArraySHOW CREATE TABLE `smackuci_events`ArraySHOW CREATE TABLE `smackuci_events`ArraySHOW CREATE TABLE `smackuci_events`ArraySHOW CREATE TABLE `smackuci_events`ArraySELECT `smackuci

[2019-04-11 21:34] takotakot commented on #72
@gartonb Thanks. Please quote using ```` ``` ```` and modify your comment.
@spacedmonkey Are there any chance that `$key` is non-string value?

[2019-04-12 14:40] gartonb commented on #72
@takotakot I have modified and quoted the above comment.

[2019-04-22 14:53] gartonb commented on #72
@takotakot Any update on this issue?

In the short term we casted key as a string

In /var/www/html/wp-content/plugins/ludicrousdb/ludicrousdb/includes/class-ludicrousdb.php  modifed line 449 to the following:

if ( false !== stripos( $query_match, (string)$key ) ) {

[2019-05-23 18:12] IGotNothin opened #73 "Wordpress Slower with ludicrousdb"
I'm running wordpress with php-fpm 7.2 and two mysql 5.7 servers, one as master one as slave.  If I connect to either db directly pages load at least 3 seconds faster than if I use ludicrousdb.  I have the master set with a read priority of 2 and write 1, slave is read 1 and write 0.  Any known issues that might cause this?  If not, how can I go about troubleshooting what's causing the overhead?

[2019-06-19 17:41] archon810 commented on #72
If we're talking about PHP 7.3 compatibility, can I report this one here as well?

[code]

Ditto for `lag` variable too.

[2019-06-24 08:22] SeBsZ commented on #72
Same, I'm also getting tons of

`.../wp-content/mu-plugins/ludicrousdb/ludicrousdb/includes/class-ludicrousdb.php in LudicrousDB::db_connect
Notice: compact(): Undefined variable: lag`

and

`/wp-content/mu-plugins/ludicrousdb/ludicrousdb/includes/class-ludicrousdb.php in LudicrousDB::db_connect
Notice: compact(): Undefined variable: queries`

since PHP 7.3.

[2019-06-28 06:55] zardoz-bzar commented on #49
Workaround, make a symlink to their socket.

You should not use Google Cloud SQL for Wordpress. Or ... just about anything. It is a low effort feature made to made AWS on a feature matrix so sales people can say "we have that too".

You are not going to get UDS throughput through a Cloud SQL proxy socket that is actually an TCP/SSL. Using UDS means you have a default concurrency of 128 connections

[2019-07-01 11:11] romainmenke commented on #72
see : #74

This change should already take care of [these issues](https://github.com/stuttter/ludicrousdb/issues/72#issuecomment-504909889)

[2019-07-01 19:52] archon810 commented on #72
Thank you @romainmenke. Are you planning a release with this change?

[2019-07-01 20:24] romainmenke commented on #72
@archon810 not a maintainer of this repo, just trying to get this package compatible with php7.3. Hopefully the maintainers will follow up.

[2019-07-01 20:36] archon810 commented on #72
Ah, apologies.

@JJJ @spacedmonkey Would you do the honors please?

[2019-08-01 15:55] archon810 commented on #72
@romainmenke Looking at the diff, is it safe to force assign `$queries` to 1 and basically disregard its value? I haven't dug deeper, just looked at the diff https://github.com/android-police/ludicrousdb/commit/1256f00c082ca683a202fdb4867235c335f3ba69?w=1.

[2019-08-01 17:07] romainmenke commented on #72
@archon810 https://github.com/android-police/ludicrousdb/commit/1256f00c082ca683a202fdb4867235c335f3ba69?w=1#diff-322b6aaffa55358d2e74d37ef4bf144eL709

There is no behaviour change between the before and after.

[2019-08-01 21:27] archon810 commented on #72
🤦‍♂ Oh my, what is that code even doing.

[2019-08-04 22:00] JJJ commented on #55
PR merged. This should be fixed. Please reopen if not. 👍

[2019-08-04 22:00] #55 closed

[2019-08-04 22:03] JJJ commented on #53
Some changes just got pushed to master that should resolve this, specifically around timeouts and TCP timeouts.

The only other thing I can think of that _might_ be an issue, is the extra caching that was added needs to be reverted. It's nice to have, but does introduce some complexity, and it turns a simple loop into something that requires access to an external cache. We'll see?

[2019-08-04 22:03] #53 closed

[2019-08-04 22:07] JJJ opened #75 "Deprecate get_caller() for wp_debug_backtrace_summary()"
Since WordPress 4.6, `functions.php` is now required early in `wp-settings.php`.

This allows us to remove the `get_caller()` method and rely only on `wp_debug_backtrace_summary()` going forward.

[2019-08-04 22:10] JJJ commented on #73
Might be related to `save_backtrace` being set to `true`?

Please post your config (and remove any personally identifying info for the site) and we can try and help!

[2019-08-04 22:12] JJJ commented on #63
#66 was merged to master.

Let's run with it and see how it goes? Can reopen this if it's worse?

[2019-08-04 22:12] #63 closed

[2019-08-04 22:35] JJJ commented on #75
This is going to require a change to the function signature of `save_query_callback`.

Recent changes to $wpdb in WordPress 5.3 make this somewhat inevitable anyways, specifically regarding the new `log_query()` method.

[2019-08-05 03:32] JJJ commented on #72
Now that #74 is merged to master, it'd be great if someone could test. 👍

[2019-08-05 04:53] archon810 commented on #72
We've been using this code since last week and found it got rid of the notices without any side effects.

[2019-08-06 04:04] archon810 commented on #60
Can probably close this.

[2019-08-20 13:20] kkmuffme opened #77 "PHP7.3 notice compact(): Undefined variable: queries Undefined variable: lag"
Coming from this line: $this->last_connection    = compact( 'dbhname', 'host', 'port', 'user', 'name', 'tcp', 'elapsed', 'success', 'queries', 'lag' );

[2019-08-20 13:24] takotakot commented on #77
@kkmuffme See #74 (merged). Try this [change](https://github.com/stuttter/ludicrousdb/pull/74/files) and close this issue.
If your problem remains, comment here again.

[2019-08-20 13:28] #77 closed

[2019-08-21 13:37] mcorkum opened #78 "Illegal offset type in class-ludicrousdb.php on line 1477"
Refers to this line:
`$this->dbhname_heartbeats[$dbh]['last_used'] = microtime( true );`

Something here is throwing tons warnings per page load. Version 4.2.0 (the actual tag) doesn't throw this warning, something seems to have changed since then.

Any ideas?

[2019-08-24 12:47] kkmuffme commented on #63
Sorry, I totally forgot to create a pull request for this, since I created my own solution quite quickly back then. (now just remembered bc got some PHP7.3 notices, so I checked back to the plugin and realised it)

I checked your solution and it doesn't really solve the issue, bc:
MySQL server rarely goes away, so pinging them more than once per page load is a waste of resources.
The worst that ca

[2019-08-25 09:38] kkmuffme opened #82 "table name empty when COMMIT"
There is a bug, when the query is just a "COMMIT" of a transaction.

The issue came up by the error "Deprecated: stripos(): Non-string needles will be interpreted as strings in the future. Use an explicit chr() call to preserve the current behavior in /ludicrousdb/includes/class-ludicrousdb.php" which was reported in https://github.com/stuttter/ludicrousdb/issues/72 (& not fixed yet)

$this->last_

[2019-08-25 09:39] kkmuffme commented on #72
Original issue (stripos(): Non-string needles will be interpreted as strings in the future. Use an explicit chr() call to preserve the current behavior in) is actually a bug in the code, since it uses false (bool) as array key, leading to that issue (but just PHP7.3 highlights it, but it's been there for ages).
Detailed problem description see: https://github.com/stuttter/ludicrousdb/issues/82

Pu

[2019-08-25 09:42] kkmuffme commented on #51
This will not be an issue: if a write happens to a table, all reads for that table are sent to master for the current request.

[2019-08-30 02:59] wobeng opened #83 "W3 Total Cache and ludicrousdb plugin conflict"
W3 Total Cache is conflicting with ludicrousdb plugin as they both put "db.php" file in "wp-content" directory.

Can we fix that conflict please ?

[2019-08-30 03:02] takotakot commented on #83
If you want to use ludicrousdb, put ludicrousdb version's `db.php`.

[2019-08-30 03:07] wobeng commented on #83
Hi @takotakot but I also want to use W3 Total Cache database caching also. When I add the db.php I get an error in wordpress

The Database add-in file db.php is not a W3 Total Cache drop-in. Remove it or disable Database Caching.

[2019-08-30 03:19] wobeng opened #84 "ludicrousdb still work with latest 5.2.2?"
1. Copy the main directory `ludicrousdb`  into plugin folder wp-content/plugins/ludicrousdb/
2. I copied the drop ins
[code]
3. I configured db-config.php  with write and read database, and nothing has happened.

Am I missing anything?

[2019-08-30 03:25] takotakot commented on #83
Hi @wobeng, there are many types of Cache plugins. Maybe it's difficult to merge code or avoid conflicts.

For an easy case, rename `db.php` to `db-cache.php` and rewrite some code may work.
ref: https://dev.classmethod.jp/etc/wordpress-hyperdb-w3-total-cache/
(Soffy for Japanese content.)

[2019-08-30 03:28] takotakot commented on #84
Write PHP, MySQL (or MariaDB) versions may help more.

(Be sure `db-config.php` is in the same directory having `wp-config.php`)

[2019-08-30 12:32] wobeng commented on #83
@takotakot thanks for that ref, question how come ludicrousdb don't adjust db instead of adjusting w3-total-cache

[2019-08-30 19:38] magix01 commented on #78
I also have the same problem, using php 7.2, MySQL 8, WP version latest (5.2.2) throws alot of warnings and i am not sure if i can use it in production before it gets resolved. Trying to use standard master/slave config.

[2019-08-31 21:13] takotakot commented on #83
I think put `db-ludicrous.php` (from ludicrousdb) and modify `db.php` (of w3tc) to include `db-ludicrous.php` MAY work (not tested).

[2019-09-01 09:57] wobeng commented on #83
what happens if w3tc get updated?

[2019-09-01 09:59] takotakot commented on #83
Think and try!

[2019-09-01 10:01] wobeng commented on #83
I have it working :), im just trying to think of a way to help someone in the future that want to install both without any conflict :)

[2019-09-03 18:04] thefrosty commented on #78
To be clear. This error is shown when on the latest master branch. Not the current tag.

[2019-09-11 21:44] JJJ commented on #82
#81 merged to master.

[2019-09-11 21:44] #82 closed

[2019-09-16 17:22] sirilyan opened #85 "Using $table instead of $this->table always results in using master"
https://github.com/stuttter/ludicrousdb/blob/b915af6d289d9e2551889ffefa95b63e534cdb83/ludicrousdb/includes/class-ludicrousdb.php#L433

There's no variable `$table` in this function, so this always sets `$this->table` to "no-table". Reads never go to a secondary since the plugin thinks they have some sort of dependency on master.

Changing to `$this->table` seems to do the right thing. If you'd lik

[2019-09-17 18:55] archon810 commented on #53
@JJJ Any idea on the timing of the release?

[2019-09-29 17:42] musthavetickets commented on #85
I have found the issue as well that it never uses the read server.. I have the  master as write = 1 and read = 0, and the read server as write = 0 and read = 1. But the reads still goto the master. If I swap the write from the master to the slave, then the read also comes to the slave. I have updated line 433 with the above and it now works. Thanks.

[2019-09-29 17:52] sirilyan commented on #85
PR cut.

[2019-10-02 02:55] JJJ commented on #85
Merged. Thank you both!

[2019-10-02 02:55] #85 closed

[2019-10-02 03:40] #75 closed

[2019-10-02 03:46] JJJ commented on #83
Because of the way that WordPress Drop-in plugins work, only one can be easily dropped in place at a time. Trying to use both is risky, and not really a directly supported feature, but I'm happy to fix any bugs that happen from the result of advanced setups like this, simply because I think they're neat. 🤗

[2019-10-02 03:46] #83 closed

[2019-10-02 03:56] JJJ commented on #49
I'm willing to bet (without looking) that the colons are being misinterpreted as ports.

[2019-10-02 03:58] JJJ commented on #72
Merged & fixed (I think?)

Can reopen if not. Thanks everyone!

[2019-10-02 03:58] #72 closed

[2019-10-02 09:25] musthavetickets commented on #78
I'm getting this after using latest branch. I have mariadb 10.4, php 7.3 and latest WP. It's on line
 PHP Warning:  Illegal offset type in /var/xxxxx/plugins/ludicrousdb/ludicrousdb/includes/class-ludicrousdb.php on line 1482" while reading response header from upstream.

The line is:
$this->dbhname_heartbeats[$dbh]['last_used'] = microtime( true );

[2019-10-03 01:02] archon810 commented on #83
I'd love to see W3TC working with ludicrousdb, been wondering if it's possible myself. Perhaps the two projects could collaborate to make that happen?

[2019-10-03 05:58] romainmenke commented on #78
This should be fixed with : #86

[2019-10-03 06:00] romainmenke commented on #72
@JJJ any timeline for a tagged release with these fixes? Thank you 🙇

[2019-10-03 06:19] JJJ commented on #78
WordPress internally overrides that, along with other incompatible MySQL modes, so it should not be a problem here:

[code]

This issue is resolved, and other ongoing work to improve this is happening in #88.

[2019-10-03 06:19] #78 closed

[2019-10-03 06:21] #61 closed

[2019-10-03 06:22] #51 closed

[2019-10-03 06:22] #45 closed

[2019-10-03 06:25] JJJ commented on #72
@romainmenke asap. Waiting on a test for #88.

[2019-10-03 06:30] JJJ commented on #54
LudicrousDB requires you to define your database tables in a callback configuration. My guess is that these tables aren't defined, or don't exist in the database and/or server that is defined.

[2019-10-03 06:30] #54 closed

[2019-10-03 06:31] #56 closed

[2019-10-03 06:35] #49 closed

[2019-10-03 06:35] #84 closed

[2019-10-03 07:23] romainmenke commented on #72
@JJJ super cool!

[2019-10-16 05:49] romainmenke opened #89 "Tagged release for 5.0.0"
Hi @JJJ,

Would it be possible to create a tagged release for 5.0.0, unless more changes are planned?
If there are any upcoming changes we're happy to help in any way possible.

Thank you :)

[2019-10-18 18:02] JJJ commented on #89
Tagged: https://github.com/stuttter/ludicrousdb/releases/tag/5.0.0

[2019-10-18 18:02] #89 closed

[2019-10-18 21:29] wobeng opened #90 "Installation: Files vs Drop-ins OR Files and Drop-ins"
When installing can I pick to install it using Files or Drop-ins or I have to do both?

[2019-10-18 21:30] lsemenenko commented on #90
From my experience you can just use drop-ins. But, I agree it's confusing.

[2019-10-18 21:31] wobeng commented on #90
so you have to do both?

[2019-10-18 21:33] lsemenenko commented on #90
I believe you need to have the drop-ins in place, and the plugin needs to be extracted to the plugins folder. That's how I do it anyway. If you check in the code (I'm lazy sorry) I believe it doesn't work unless the plugin folder explicitly exists.

[2019-10-18 23:56] takotakot commented on #90
`mu-plugins` is the directory for "must use" plugins.

[2019-11-17 11:39] kkmuffme opened #92 "Cron race conditions"
This is not ludicrousdb specific (as these cron race conditions can also happen with default WP) but ludicrousdb increases the likelihood of it happening:

since all crons are stored in 1 option in master, it can easily happen that crons are executed twice or crons not added, if WP reads this option from slave & updates it on master, while slave had stale data because another request updated cron

[2019-11-20 14:12] spacedmonkey commented on #92
This is an upstream issue that is found in core. More details in the [ticket](https://core.trac.wordpress.org/ticket/31245). Today the patch was merged. So this issue so now be resolved.

[2019-11-20 14:12] #92 closed

[2019-11-20 14:21] rmccue opened #93 "Errors not detected properly if SQL_CALC_FOUND_ROWS is set"
Due to the way that the `SQL_CALC_FOUND_ROWS` support works, errors aren't detected correctly, so `last_error` is not set properly.

When you make a query with `SQL_CALC_FOUND_ROWS`, Ludicrous immediately runs `SELECT FOUND_ROWS()` for you. This resets the MySQL error state, so when Ludicrous calls `mysqli_error( $this->dbh )`, it's now set to the error state for the `SELECT FOUND_ROWS()` query.

[2019-11-21 01:44] takotakot commented on #93
@rmccue https://github.com/stuttter/ludicrousdb/blob/253dba7c81265ef875b9e772a65a93a50149c67d/ludicrousdb/includes/class-ludicrousdb.php#L27-L31
does this comment help you?

[2019-11-21 09:34] rmccue commented on #93
@takotakot Yep, I know how it works internally. :)

The problem is that `$this->_do_query()` is called twice, where the first one is the query itself and the latter is the FOUND_ROWS() query. `mysqli_error()` is only called after the latter query, so misses the error from the actual query itself.

I’ll send a PR shortly.

[2019-11-22 03:15] takotakot commented on #93
@rmccue OK. I get that the code have to be modified. ( I thought that 1. adding `NO_SELECT_FOUND_ROWS`, 2. manually get error, and 3. call `SELECT FOUND_ROWS();` can satisfy your demand. )

[2019-11-22 13:01] rmccue commented on #93
I want the behaviour that’s in there, we just need to fix it :)

[2019-11-28 07:28] ooxif opened #94 "Always connects to the master due to the wrong detection of LudicrousDB->is_write_query()"
WordPress always executes a query `SELECT option_name, option_value FROM infy_options WHERE autoload = 'yes'`, and LudicrousDB->is_write_query() returns a false positive result, true.

Because of that, WordPress always connects to the master, which results in a connection flood to the master.

Related: #55, #70

[2019-11-28 08:28] takotakot commented on #94
@ooxif Sorry for my misconstruction. Does the change from

[code]

to

[code]

help? Or any ideas?

[2019-11-28 11:25] ooxif commented on #94
@takotakot LGTM, thanks!

[2019-11-28 16:02] ooxif commented on #94
@takotakot
https://github.com/sysown/proxysql/wiki/ProxySQL-Read-Write-Split-(HOWTO)#basic-readwrite-split-using-regex
ProxySQL does a special exception only for `SELECT ... FOR UPDATE` statement.

[code]

migit help, IMO

[2019-11-28 18:23] takotakot commented on #94
@ooxif We can write:

[code]

. It shows that "begin with `SELECT`" may be bad idea...

Added ';'
[code]

[2019-11-28 19:08] ooxif commented on #94
@takotakot
- Neither [`mysql_query` nor `mysqli_query` (used in LudicrousDB->_do_query)](https://github.com/stuttter/ludicrousdb/blob/5.0.0/ludicrousdb/includes/class-ludicrousdb.php#L1480) supports executing multiple queries at once. `$query` is expected not to have semicolons (statement separators) because such $query is invalid.
- "begin with XXX" regexp patterns such as `preg_match( '/^\s*SELE

[2019-12-03 16:00] takotakot commented on #94
I made two versions: #95, #96 .

Maintainers:
Please choose the better one or comment here.

[2020-01-02 06:05] JJJ commented on #94
#95 seems viable, but needs testing to avoid regressions.

[2020-01-02 06:10] JJJ commented on #73
@IGotNothin still seeing this?

[2020-01-02 21:28] IGotNothin commented on #73
I'll have to give it a try again, it wasn't usable so I undid the setup.  I'll give it a go again and report back.  I would like to get this working.

[2020-01-03 00:49] IGotNothin commented on #73
I set it up again and tested and it's about 2 seconds faster without ludicrousdb for the page I was testing.  I'm using a pretty simple config, attached.  I don't see a save_backtrace option, so not sure where I'd check that.  And does it matter if the plugin is activated in Wordpress?  Didn't seem to make a difference if it was or not.

[db-config.php.txt](https://github.com/stuttter/ludicrousdb/

[2020-01-15 03:30] samjco opened #98 "What's the difference between LudicrousDB and HyperDB?"
What's the difference between LudicrousDB and HyperDB?

[2020-01-15 06:45] ooxif commented on #55
This did not fix the problem due to the trailing `\s` in the regex pattern.

The function returns a false when the query does not have a trailing space.
`is_write_query('SELECT * FROM table WHERE id = 1 FOR UPDATE')` => false

Queries w/ a trailing space get a true.
`is_write_query('SELECT * FROM table WHERE id = 1 FOR UPDATE ')` => true

I patched the code only for the `SELECT ... FOR UPDATE` sta

[2020-01-15 06:49] ooxif commented on #94
I commented another problem about is_write_query() at https://github.com/stuttter/ludicrousdb/issues/55#issuecomment-574520356
FYI, please take a look at the comment.

[2020-01-15 16:33] samjco opened #99 "Interesting way to load balance using LudicrousDB"
https://jeffreyeverhart.com/2019/04/10/scaling-wordpress-databases-remote-servers-sharding-replication-ludicrous-db-aws/

[2020-01-17 00:43] takotakot commented on #55
@ooxif I'm very sorry that I didn't care much about corner cases. (Because that was WIP for me...)
I've made a patch to fix trailing space problem. It is only a patch. Your approach may be better. Thanks!

[2020-01-17 15:41] rmccue opened #101 "Tags have disappeared"
The 4.0.0 and 4.2.0 tags have disappeared from the repo. This has caused them to also disappear [from Packagist](https://packagist.org/packages/stuttter/ludicrousdb), which means we're no longer able to install packages 🙃

They should be:
* `4.0.0`: 68be1c40fccbdbcc79c5665022c46ff980e958cc
* `4.2.0`: d5d27fc4e19ccfeecac627130e1ec68a800ca381

I'm not sure how this happened?

[2020-01-22 16:08] rmccue commented on #101
This was fixed, thanks to @spacedmonkey and @JJJ. :)

[2020-01-22 16:08] #101 closed

[2020-01-22 16:30] JJJ commented on #101
Sorry again for whatever the’heck happened!

[2020-01-23 20:53] archon810 opened #102 "check_tcp_responsiveness causes [Warning] Aborted connection to db: 'unconnected' user: 'unauthenticated' (This connection closed normally without authentication) after MariaDB 10.4 upgrade"
Hi,

MariaDB 10.4 produces a ton of these warnings

[code]

which were not present in 10.3 or 10.2, which I traced down to check_tcp_responsiveness being set to true and this line of code:

https://github.com/stuttter/ludicrousdb/blob/master/ludicrousdb/includes/class-ludicrousdb.php#L1797

We've had check_tcp_responsiveness enabled for years, and it sounds like a useful feature, so I'm kind of un

[2020-02-20 16:58] scottbisker opened #103 "MySQL 5.7 PHP-FPM 7.2/7.3/7.4. error reading communication packets on read connections."
I've got a few test systems up running MySQL 5.7, PHP-FPM 7.2/7.3/7.4 and NGINX.  On all read connections, I get this error in the MySQL error.log.

[Note] Got an error reading communication packets

I've isolated it to the read connections, by having two physical DB servers and moving all reads to the slave.  The error only ever occurs if the DB is configured for reads.

Test systems are Ubuntu 1

[2020-02-20 17:40] lkraav commented on #103
Get away from MySQL 5.7. I recently bit the bullet, upgraded it to MariaDB 10.3 and have had zero wack errors since.

[2020-04-05 12:09] kkmuffme commented on #98
HyperDB isn't maintained anymore, but ludicrousdb is.

[2020-04-05 12:10] kkmuffme commented on #99
This is not an issue & just spam.

[2020-04-06 18:37] #99 closed

[2020-04-06 18:38] spacedmonkey commented on #98
ludicrousdb is an open source fork of hyperdb that is maintained by myself and JJJ

[2020-04-06 18:38] #98 closed

[2020-04-06 18:40] spacedmonkey commented on #93
@rmccue  Have you had any luck working out a fix for this?

[2020-04-06 18:41] spacedmonkey commented on #60
@jaydip189 Withtout more information here, I am going to close this out. Please feel free to reopen.

[2020-04-06 18:41] #60 closed

[2020-04-10 07:26] alicolville opened #107 "Notice: compact(): Undefined variable"
Hi folks,

We're seeing this warning in PHP 7.3

[code]

[2020-04-16 11:38] spacedmonkey opened #108 "Remove use of extract function"
The extract function has a number of security issues with it. It also makes for hard code to debug and review. It's use should be removed.

[2020-04-16 11:40] spacedmonkey opened #109 "Use phpcs-variable-analysis for linting"
Follow up from #106 . We should implement sirbrillig/phpcs-variable-analysis in the linter, to check how variables are being used.

Related: #107

[2020-04-16 14:30] jpSimkins opened #110 "DB Connections are out of control, running a process jumped to over 2000 connections"
I used HyperDB and had no issues. I wanted to use this plugin as word around Google is it's more "up-to-date".

I switched to this plugin and within 30 minutes our DB connections went from an average of 100 connections to 2700. I could see the connection spike happening. This naturally caused a max_connections issue and I had to quickly revert this update and go back to HyperDB.

Traffic is not a

[2020-04-16 17:44] JJJ commented on #109
I'll be surprised if php-variable-analysis will work for this, simply because of the use of `extract()` and the internal logic of how the related methods recursively interact with one another.

(fwiw, I already have it built into my IDE, and it does not catch it there. It simply warns that it cannot know for sure.)

Whomever tries to make a PR for this, I'd love to see the output in a screenshot o

[2020-04-16 17:51] JJJ commented on #107
Hey @alicolville. Sorry for the noise.

Thankfully these are just notices (not warnings or errors) so for now the code is not failing yet.

I think the simple solution is to define some sane empty defaults for them early on in the calling method. It's OK if they're empty, but it's not OK if they're incorrectly empty, so we'll need to be precise about where any defaults get inserted.

[2020-04-16 17:52] alicolville commented on #107
Cheers!

[2020-04-20 09:13] spacedmonkey commented on #109
This ticket is related to https://github.com/stuttter/ludicrousdb/issues/108 that removes `extract`.

[2020-04-24 13:41] rmccue commented on #93
It looks like these may have actually been fixed in 1256f00c082ca683a202fdb4867235c335f3ba69 but need backporting to the 4.x branch.

[2020-04-30 16:32] #107 closed

[2020-04-30 16:32] #108 closed

[2020-04-30 16:32] #109 closed

[2020-04-30 16:53] JJJ commented on #94
@ooxif I've merged #100 into master which should fix the trailing space issue. Give it a whirl?

[2020-04-30 17:34] ooxif commented on #94
@JJJ Thank you for your response!
But I have used [my own patch](https://github.com/ooxif/ludicrousdb/compare/master...ooxif:fix/is-write-query) in production for months and it's going well.
So I'll go with this.
#100 LGTM, though.

[2020-05-06 13:23] desmeit commented on #55
I have the same problem with wordpress.
I installed it as described here:
https://sternerstuffdesign.com/2019/02/wordpress-auto-scaling-aws-rds-aurora/

The error in Query Monitor if I click on "plugins":
[code]

I tried it with a master / slave configuration:

[code]

I took the endpoint of the cluster for writer (DB_HOST) and reader (DB_HOST_RPL1').
What I'm doing wrong?

[2020-05-24 09:04] kkmuffme opened #117 "SELECT FOR UPDATE should be sent to master"
SELECT ... FOR UPDATE is used before an update happens, so this should always be sent to master (despite being SELECT) as atm this isn't working (since it locks the slave)

[2020-05-24 09:34] kkmuffme commented on #117
nvm, since it only works as part of a transaction, which is sent to master (start transaction) this works anyway

[2020-05-24 09:34] #117 closed

[2020-06-30 14:57] nambrosch commented on #103
@scottbisker I see it a lot with connections that are balanced through haproxy but it can happen for a few reasons.

@lkraav This isn't a "wack error" - before recommending a course of action please have some idea of what the problem is and if a version or distribution change will actually solve anything.

There is a good explanation here along with some recommendations that do not include changin

[2020-06-30 17:04] lkraav commented on #103
For clarity, my 5.7 upgrade was unrelated to this issue whatsoever.

I did have other issues, that have completely vanished with MariaDB 10. DB specialists I consulted with also shared their MySQL 5.7 problem sightings from the wild, motivating me to take the plunge at one point.

[2020-07-21 05:48] archon810 commented on #102
Any updates on this? Setting `check_tcp_responsiveness` to false fixes this flood, but I'm not sure if there are any negative side effects for when a host does go down (times out or refuses connection) vs having it enabled.

[2020-07-21 05:53] archon810 commented on #94
Is 5.1 getting released soon?

[2020-07-21 19:27] JJJ commented on #94
It would be ideal to have #95 resolved for 5.1.

I will close this issue since the OP is OK with the fix from #100.

[2020-07-21 19:27] #94 closed

[2020-09-20 12:43] isradelatorre commented on #110
I have faced the same problem having an RDS cluster with read replicas. In my case the problem is that I didn't install ludicrousdb correctly. I have fixed it by following these steps:

1.- Downloading the zip file https://github.com/stuttter/ludicrousdb/archive/master.zip
2.- Unzipping the content in `wp-content/plugins/ludicrous`
3.- Modifying `db-config.php` file adding writer and reader endpoi

[2020-09-25 11:12] des79 commented on #110
Installaztion guide is not good ;-)

[2020-09-30 09:38] kkmuffme commented on #110
@des79 could you improve the installation guide text, since you already know how it works now
Then we could merge it in, to help out others in the future

[2020-09-30 14:14] jpSimkins commented on #110
@isradelatorre Thanks for your information. Unfortunately, I did install this properly. I have since gone back to hyper-db and it is working fine for now. I will not be able to attempt to use this until maybe next year at the earliest and it would have to be on a new system. The system is now averaging over a million users/day and I cannot risk attempting this again.

I personally have no issues w

[2020-10-24 23:04] peterwilsoncc opened #118 "Tag 4.2.0 has gone missing."
d5d27fc4e19ccfeecac627130e1ec68a800ca381 was previously tagged as `4.2.0` but this appears to have gone missing on or about September 26 according to when my pipeline started failing for a site using https://github.com/humanmade/altis-cloud/commit/cb1b83ad4c806e94bf445f206fbb8b130b3dfb45 (v3.0.15).

Are you able to take a look and retag?

[2020-10-24 23:06] peterwilsoncc commented on #118
Edit: typo fixed 4.2.0 rather than 4.2.2. Sorry.

[2020-10-26 11:07] JJJ commented on #118
@spacedmonkey fixed this with `git push --tags  -f`.

Truly not sure why this happened. Sorry for it, though. And I'll keep an eye on it.

[2020-10-26 11:11] JJJ commented on #110
Sorry for the trouble @jpSimkins. Without logs it's difficult to know for sure what happened, but obviously your experience isn't one we want people to have with LDB, so it will be important that we get this figured out eventually.

[2020-10-26 11:22] JJJ commented on #93
After a private consult with @rmccue, since this is resolved in 5.x, I'm going to mark this as closed.

[2020-10-26 11:22] #93 closed

[2020-10-26 11:24] JJJ commented on #40
@krodyrobi since you created this issue, the 5.x branch has seen many updates to clean up some of the variable collisions and assignment issues that may have been related to this. Are you able to give the 5.0.0 release a try?

[2020-10-26 12:52] JJJ commented on #102
Hi @archon810, thanks for reporting this, and sorry for the silence here.

Checking TCP responsiveness is, like you said, pretty useful to do. Generally, you should not need to disable it.

Strange that this is different between MariaDB versions for you. I haven't seen this yet myself. I'm up to:

[code]

Do you know if you're using a persistent object cache? If not, then it's plausible that it is

[2020-10-26 14:18] JJJ commented on #102
I've identified some improvements to the TCP responsiveness code, and put them together into a pull request for others to try. (I'm running it myself now, in production, over at https://jjj.blog.)

Keeping an eye on it!

[2020-10-28 00:56] peterwilsoncc commented on #118
Thanks for the prompt fix folks. `composer install` is much happier now.

[2020-11-21 18:14] #90 closed

[2020-12-04 12:03] rmccue commented on #118
This happened again, so we've created a mirror on Packagist: https://packagist.org/packages/humanmade/ludicrousdb

[2020-12-04 15:00] JJJ commented on #118
I truly have no idea WTF is happening.

Packagist is our only webhook, and there aren’t any GitHub integrations.

There’s no way to audit this activity on GitHub, that I can see.

I’ve re-published the Tag/Release. Maybe I’ll reach out to GitHub support and see if they can help.

[2020-12-04 15:23] JJJ commented on #118
Ticket #930039 opened with GitHub support.

Sorry, again. I’ll do everything I can to prevent this from happening so you don’t need to maintain a mirror in perpetuity.

[2020-12-07 00:25] archon810 commented on #102
Any further updates @JJJ @spacedmonkey?

[2020-12-07 18:53] JJJ commented on #118
GitHub support helped me figure this out.

I'd setup a mirror on the jjj.software GitLab instance, and that mirror was missing the 4.2.0 and 4.0.0 tags. When I pushed to the mirror, it would push back to GitHub with the `--mirror` flag set, causing those tags to eventually be removed.

GitHub, the website/service, doesn't outright delete a release when a tag goes missing, it simply sets it to draf

[2020-12-07 18:53] #118 closed

[2020-12-07 19:11] JJJ commented on #102
None from me, but I'm not seeing the errors that you are.

Were you able to try the linked PR, @archon810?

[2020-12-07 22:57] archon810 commented on #102
I have not, we've been on 4.1 waiting to upgrade to 5.1 (and now I'm also seeing 4.2?).

[2020-12-08 00:38] JJJ commented on #102
There were some issues with the 4.2.0 tag (my fault) that have been resolved. You may want to give it a try first. It is the latest stable version of the 4.x branch.

[2020-12-08 01:06] archon810 commented on #102
Should I not aim to upgrade to the 5.X branch instead, at least when the fixes in this ticket and whatever else is pending are fixed?

[2020-12-08 01:07] JJJ commented on #102
Oh, definitely. But there was a 5.0.0 release already, and you aren't using it yet, so I assumed you were on 4.x for some reason (I know some folks are.)

[2020-12-08 01:12] archon810 commented on #102
Oh yeah, we're still on 4.1, as I mentioned above. I think we were waiting for 5.1 before upgrading to 5.X but I don't recall exactly all the reasons why anymore.

Perhaps it was this ticket (#102) as well as #94 and whatever it's referencing.

[2021-02-04 19:28] cordulack opened #121 "Tag 4.2 has a ludicrousdb.php file that says "Version: 5.0.0""
We are looking to upgrade to the latest version of ludicrousdb and I was hoping someone could clarify something.

When you look at the code in the [4.2 tag](https://github.com/stuttter/ludicrousdb/releases/tag/4.2.0), `ludicrousdb.php` says it is version 5.0. Should the tag and the version in this file match?

https://github.com/stuttter/ludicrousdb/blob/4.2.0/ludicrousdb.php#L11

[code]

Thanks!

[2021-04-11 12:49] kkmuffme opened #124 "Remove deprecated mysql_"
As of PHP 7+ mysql_ isn't supported anymore. Years have passed since PHP7 was released and WP core also recommends PHP 7+ (the legacy support for PHP <7 will be dropped soon)

We should remove the mysql_ things and only keep mysqli_, as it's about time.

[2021-05-14 13:54] RocknRoIla commented on #110
Hmm, as a noob this even more confusing for me know.

You have 3 copies of db-config.php?

1) wp-content/plugins/ludicrousdb/drop-ins/
2) wp-content/plugins/ludicrousdb/ludicrousdb/drop-ins/
3) root

And 3 copies of db.php and db-error.php each?
1) wp-content/plugins/ludicrousdb/drop-ins/
2) wp-content/plugins/ludicrousdb/ludicrousdb/drop-ins/
3) wp-content/

:(

[2021-07-14 09:51] ouun opened #126 "Fatal error in combination with WP Redis and TCP Responsiveness Check"
Hi @JJJ,
first of all thank you so much for LudicousDB. I am currently taking the first steps and I am facing an issue that has been mentioned already before: https://github.com/stuttter/ludicrousdb/pull/67#issuecomment-458830179

Using WP Redis by Pantheon for Object Cache I also receive `Fatal error: Uncaught Error: Call to a member function add_global_groups() on null in .../object-cache.php:24

[2021-07-14 17:35] JJJ commented on #124
Milestoned for 6.0, where we can announce dropping this and making PHP7 a hard cut.

[2021-07-14 17:37] JJJ commented on #121
That's really annoying. I think this is because the 4.2 tag was being deleted by the mirror, and we had to force the tag, and it just got missed.

It's embarrassing, but won't break anything. When we release 5.1.0, it'll still be OK.

[2021-07-23 20:58] uptopcorp opened #127 "SELECT FOR UPDATE Not working with Write/Read set ups"
Hello guys,

It seems the FOR UPDATE queries are not being parsed correctly, please take a look of the error below:

**The following query is not working:**
`
WordPress database error The MySQL server is running with the --read-only option so it cannot execute this statement for query SELECT * FROM `wp_wfls_2fa_secrets` WHERE `user_id` = 1 FOR UPDATE made by do_action(‘wp_ajax_nopriv_wordfence_ls_

[2021-07-23 22:05] uptopcorp commented on #127
A possible solution it would be to include FOR in the Possible writes check

`if ( preg_match( '/(?:ALTER|CREATE|ANALYZE|CHECK|OPTIMIZE|REPAIR|CALL|DELETE|DROP|INSERT|LOAD|REPLACE|UPDATE|SET|RENAME|FOR)\s/i', $q ) ) {`

[2021-07-23 22:56] takotakot commented on #127
But `UPDATE` is already included. I want to review regex...

[2021-07-23 23:46] uptopcorp commented on #127
Yes I noticed it so the right way to go it would be to work out on the regex, however, the  proposed the solution above (including the FOR) it does the job for me, at least as a temporary solution, I have this code on prod so needed to fix it asa. Thanks though!

[2021-08-08 02:36] leonstafford commented on #121
@JJJ is it not also related to the emojified release name or the date on 4.2.0 GH release being newer than 5.0.0?

<img width="984" alt="LudicrousDB releases page" src="https://user-images.githubusercontent.com/2066833/128618777-1f13f6d1-b719-4411-a875-6db8cb92cb62.png">

<img width="341" alt="LudicrousDB GitHub sidebar" src="https://user-images.githubusercontent.com/2066833/128618788-2d1309b4-81a

[2021-08-08 02:42] leonstafford commented on #121
If someone's trying to check what version is installed on a non-Composerified site, can compare the 5.0.0 and 4.2.0 tags here: https://github.com/stuttter/ludicrousdb/compare/5.0.0...4.2.0

and easy check is the `./ludicrousdb.php` file, line 44, should have the `// phpcs:ignore` comment, as per current master branch: https://github.com/stuttter/ludicrousdb/blob/dc3167b9696e9adbb3834a39453c2cc5575

[2021-08-27 21:27] spacedmonkey opened #128 "PHP 8.1 | wpdb::_real_escape(): fix "passing null to non-nullable" deprecation notices"
https://github.com/WordPress/wordpress-develop/pull/1628

[2021-09-13 14:18] deepak166 commented on #71
even i would like to know if there is a solution

[2021-09-16 08:04] dudenk commented on #126
in my case, change public $check_tcp_responsiveness = false;

[2021-09-16 14:08] deepak166 opened #129 "need help in configuring"
I want to split the database of multisite  into 100 dbs, db00, db01, so on upto db99 .and when a new blog gets added to the multisite, the last two digits of the blog id go to a specified database,
for example,
We can predict what database a blog is in by looking

at the last two digits of the id. Examples:
blog_id: 9, in db09
blog_id: 74, in db74
blog_id: 999989, in db89
blog_id: 9200, in db00
I

[2021-11-19 00:19] thefrosty commented on #121
So really 4.2.0 is newer in features over 5.0.0?

[2021-11-19 15:56] JJJ commented on #121
No. 5.0.0 is newer. 5.1.0 is latest.

The 4.2.0 tag was pushed in error by a mirror I'd setup an was half broken. 😔

[2022-01-24 10:59] rmccue opened #133 "Locking functions are incorrectly marked as read-only"
In `::is_write_query`, SELECTs are treated as non-write queries:

https://github.com/stuttter/ludicrousdb/blob/dc3167b9696e9adbb3834a39453c2cc5575c65c4/ludicrousdb/includes/class-ludicrousdb.php#L403-L415

However (as we've just found out) there are some functions which can be called within MySQL under SELECT which act as writes; namely, [locking functions](https://dev.mysql.com/doc/refman/5.7/en/

[2022-02-01 10:51] shadyvb opened #134 "Drop the need for wp_parse_args to avoid the dependency"
Using wp_parse_args in https://github.com/stuttter/ludicrousdb/blob/master/ludicrousdb/includes/class-ludicrousdb.php#L343 adds an unnecessary dependency on `wp-includes/functions.php` which limits the ways the drop-in can be loaded.

Replacing `wp_parse_args` with `array_merge` would have the same behavior.

[2022-04-14 22:12] SteelWagstaff opened #135 "Doesn't support Composer 2"
LudicrousDB doesn't support Composer 2: https://github.com/stuttter/ludicrousdb/blob/dc3167b9696e9adbb3834a39453c2cc5575c65c4/composer.json#L23
We'd like to update our bedrocks to using Composer 2, but can't when they include ludicrousdb as a dependency. Would you consider updating dependency to something like: `"composer/installers": 1 - 2` or `"composer/installers": "~1.0 || ~2.0"`?  PR address

[2022-05-18 00:29] wiglesworthj opened #137 "Potential Regex issue failing to redirect INSERT ON DUPLICATE KEY UPDATE"
Hi all!

Firstly, thank you for developing this amazing plugin. It is critical to our deployed WordPress infrastructure, WordPress Docker containers distributed between two servers on a remote island (primary) and cloud servers in California (failover). Our databases are setup in a cyclical master (island)  -> master (island) -> master (cloud) configuration. For the most part, we do not utilize ou

[2022-06-03 06:24] sous-studio commented on #83
Hi! Care to share for recipe? Like you include require_once "{$wp_plugin_dir}/{$ldb_dirname}/ludicrousdb.php" inside W3tc' db.php? Before or after W3tc's code? Any side effects?

[2022-06-06 22:46] JJJ commented on #135
Merged!

[2022-06-06 22:46] #135 closed

[2022-07-14 13:06] totololynx opened #138 "Table detection problem via wordpress plugin"
Hello, I would like to know why wordpress does not detect other databases via plugins. I use this config but wordpress does not detect tables from other databases. Thanks in advance. Cordially.

`$wpdb->add_database( array(
	'host'     => DB_HOST,     // If port is other than 3306, use host:port.
	'user'     => DB_USER,
	'password' => DB_PASSWORD,
	'name'     => DB_NAME,
) );

/**
 * This adds the

[2022-07-18 22:29] dealer-solutions-gene opened #139 "$wpdb->suppress_errors() not supressing fatal errors during dbDelta()"
After updating the "WP Offload Media" plugin I received this error

I've tracked it down to a `dbDelta()` call where the following is being executed, which has been written to ignore failures by the looks of it, eg under the situation where the table doesn't exist, as `dbDelta`'s job is to create or update db tables...

		// Fetch the table column structure from the database.
		$suppress    = $wpd

[2022-08-18 14:53] archon810 commented on #128
Any updates here please?

[2022-08-31 13:17] subhamrenu commented on #102
once try with mysqladmin flush-hosts, Maybe due exceed of connections blocked from a particular host.

[2022-09-20 18:00] EduardoJCPM commented on #73
same for me @IGotNothin ...

did you solve this?

(i set the `save_backtrace`  to `false`)

[2022-09-20 18:02] IGotNothin commented on #73
No, I gave up and haven't had a chance to revisit it again.

[2022-09-20 18:29] JJJ commented on #73
Sorry y'all. I'll try to prioritize this.

It is conceivable that adding LudicrousDB to a bare-bones WordPress installation would not show any improvements, and maybe even make things worse. Apples-to-apples, LDB is more code and does more work to add more functionality, and hasn't _really_ been tuned to be better on a vanilla install.

(I do think, personally, that LDB needs better diagnostics to

[2022-11-09 08:48] thd-fox commented on #139
I'm facing this issue also! The fix is not doing enough. Is there any additional fix in progress?

[2022-11-10 14:07] thd-fox commented on #139
@dealer-solutions-gene Do you know any other $wpdb scaling replacement? Better than HyperDB or this one?

[2022-11-14 15:44] cultd3ad opened #143 "rights problem"
Hello,
the following problem, as soon as the db.php is installed in the /wp-content/ folder, I can’t not create any pages or posts. Not all content such as categories are displayed for selection, see the screen. The following error is in the log file.

I delete the db.php, everything works fine, can someone help me ??
thanks in advance

Wordpress Version: 6.0.3
PHP Version: 7.4.3
MySQL Version: 5.